/* ----------------- Class CSS ----------------- */

.about {
    width: 400px;
    margin: auto;
    background-color: #d39ae4;
    border: 1px solid #744e87;
    transition: transform .3s ease, box-shadow .3s ease;
}
.about:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 5px rgba(68, 3, 98, 0.425);
}

.about-team {
    color: #31183e;
    background-color: #9f14ab33;
}

.authors {
    background-color: #f7e5e5;
}

.body {
    background-color: #c6b8c6;
    font-family: 'DM Mono', monospace;
    color: #242018;
}

/*
.showcase  {
	background: linear-gradient(-45deg, #ee52c4, #c53ce7, #5e23d5, #3a3ad4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

*/
.chartjs-sample {
    background-color: #07859e;
}


.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-mono-regular {
    font-family: "DM Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: #82489b;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    color: #31183e;
}

.icon-white {
    /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.index {
    border: 5px solid #5e2b83;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-out;
}

.index:hover {
    transition: ease-in 0.3s;
    box-shadow: 5px 5px 0px #5e2b83;
    border-radius: 10px;
}

.nav-background-color {
    /* navbar background color */
    background-color: #1f0545;
}

.nav-menu-item {
    /* navbar link text properties */
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview {
    background-color: #f7e5e5;
}

.overview-left-padding {
    padding-left: 20px;
}

.overview-right-padding {
    padding-right: 20px;
}

.procedure {
    background-color: #f7e5e5;
    padding: 1px;
}

.showcase {
    background-color: #b581c9;
    /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper {
    margin: auto;
    padding: 10px;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


/* ----------------- Animations ----------------- */

@property --color-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: #b581c9;
}

@property --color-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: #b478d4;
}


#test {
    height: 103%;
    background: radial-gradient(circle at center, var(--color-1), var(--color-2));
    animation: shiftColors 6s ease-in-out infinite alternate;
}


@keyframes shiftColors {
    0% {
        --color-1: rgb(147, 55, 239);
        --color-2: #b581c9;
    }

    50% {
        --color-1: #df31e8;
        --color-2: #b581c9;
    }

    100% {
        --color-1: #7a4ff2;
        --color-2: #b581c9;
    }
}
