/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
    background-color: #9ae4da;
    border: 1px solid #009691;
}

.about-team{
    color:#242018;
    background-color: #14abab33;
}

.authors{
    background-color: #eae6d2;
}

.body{
    background-color: #f5f5eb;
    font-family: 'DM Mono', monospace;
    color:#242018;
}

.chartjs-sample{
    background-color: #07859e;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.footer{                
    background-color: #14abab;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    color:#454037;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nav-background-color{   /* navbar background color */
    background-color: #14abab;
}

.nav-menu-item{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #eae6d2;
    border: 2px solid #14abab;
}

.overview-left-padding{
    padding-left: 20px;
}

.overview-right-padding{  
    padding-right: 20px;
}

.procedure{
    background-color: #dbe3e7;
    padding: 1px;
}

.showcase{
    background-color: #7ec7c5; /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper{
    margin: auto;
    padding: 10px; 
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}